*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
}
body{
    background:#FAFAFA;
}
.jumbotron{
    text-align:center;
    background:white;
    border-bottom:1px solid gainsboro;
    padding:30px;
}
.title{
    color:black;
    margin-bottom:15px;
}
.desc{
    color:#444;
    position:relative;
}
.desc:hover:after{
    display:block;
}
.desc:after{
    display:none;
    content:'Nos outros desenmerda-te';
    position:absolute;
    font-size:0.5em;
    top:100%;
    padding:5px;
    color:#aaa;
    left:50%;
}
#code_input{
    resize:none;
    width:100%;
    overflow:auto;
}
.processed_code{
    display:block;
    margin:auto;
    padding:10px;
    font-size:15px;
    text-align:left;
    font-family:'Consolas',monospace,sans-serif;
    border:1px solid gainsboro;
    background: white;
    max-width:750px;
    z-index:3;
    position:relative;
    background:rgba(256,256,256,0.5);
    white-space: pre-wrap;
    /*max-height:500px;*/
    overflow:auto;
}
.info{
    background:#444;
    color:white;
    max-width:750px;
   padding:5px;
   font-size:0.8em;
    display:inline-block;
}
.analyzer_section{
    text-align:center;

    padding:20px;
}
.option-area{
    padding:20px;
}
.option-area label{
    padding:5px 10px;
}
.option-area input:checked + label{
    font-weight:bold;
    color:dodgerblue;   
}

.action-btn{
    display:inline-block;
    margin:auto;
    background:dodgerblue;
    color:white;
    /*accidental bounce animation*/
    padding:10px 14px;
    border-radius:5px;
    border:2px solid dodgerblue;
    text-decoration:none;
    font-size:0.9em;
    -webkit-transition-duration:0.3s;
            transition-duration:0.3s;
    margin-bottom:20px;
}
.action-btn:hover{
    /*acidental bounce animation*/
    padding:10px;
    cursor:pointer;
    background:white;
    color:dodgerblue;
    font-weight:bold;
}
.output_msg{
    margin:20px auto auto auto;
    text-align:left;
    font-weight:bold;
    width:100%;
    /*display:none;*/
}
.output_msg span{
    text-decoration:underline;
    padding-left:10px;
    font-size:1.3em;
}
.output_good{
    background:forestgreen;
}
.output_bad{
    background:crimson;
}
.err{
    color:crimson;
    font-weight:bold;
}
.err:after{
    content:'';
    position:absolute;
    padding:10px 0;
    background:rgba(256,0,0,0.2);
    left:0;
    width:100%;
    z-index:-1;
}
.processed_code{

}
#footer{
    padding-top:30px;
    text-align:center;
    color:#BBB;
    font-size:0.8em;
    background:transparent;
}
/**/
#modal{
    display:none;
    z-index:9;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}
#modal .box{
    background:white;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
            transform:translate(-50%,-50%);
    padding:20px 40px;
    border-radius:5px;
}
/**/
#uploader{
    border: 1px solid gainsboro;
    background: white;
    padding: 8px;
}
h4{
    color:#444;
    margin-bottom:10px;
    animation:rainbow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
/* The animation code */
@keyframes rainbow {
    0% {color: green;}
    20% {color: crimson;}
    40% {color: hotpink;}
    60% {color:purple;}
    80% {color: blue;}
    100% {color: green;}
}

p#total-report {
    margin: auto;
    margin-top: 30px;
    max-width: 300px;
    padding: 5px;
    background: gainsboro;
    border-radius: 50px;
    color:#333;
    font-size:0.9em;
    font-weight: bold;
}